# vscode
.vscode/

# build
build/
cmake-build*/

# clion
.idea/

# configs
configs/static-file-http-server/assets/Homepage/
configs/file-link-server/storage/*
configs/

# logs
*.log

# Claude
.claude/

# skills
.agents